body {
    background-image: url("Images\\asztal.png");
}
caption {
    font-size: 5em;
    color:rgb(255, 255, 255);
    font-style:oblique;
    border-radius: 15px;
    background-color:maroon;
}
tr #en {
    font-size: 3em;
    color:snow;
    font-style: italic;
}
tr #email {
    font-size: 2em;
    color: snow;
}
tr #imel {
    font-size: 2em;
    color: snow;
}
tr #telo {
    font-size: 2em;
    color: snow;
}
tr #teloszám {
    font-size: 2em;
    color: snow;
}
ul #x1 {
    font-size: 2em;
    color:snow;
    font-style: italic;
}
ul #x2 {
    font-size: 2em;
    color:snow;
    font-style: italic;
}
ul #h1 {
    font-size: 2em;
    color: snow;
    font-style: italic;
}
ul #h2 {
    font-size: 2em;
    color: snow;
    font-style: italic;
}
ul #vid {
    font-size: 1.4em;
    color: snow;
}
tr #szoft {
    font-size: 2em;
    color:snow;
    font-style: italic;
}
tr #röklám {
    font-size: 2em;
    color: snow;
    font-style: italic;
}