
tr #szam1 {
    color:darkred;
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
   
}
tr #szam2 {
    color:darkred;
    background-color: rgb(138, 164, 243);
     border-radius: 15px;
     box-shadow: black 2px 2px;

}
tr #szam3 {
    color:darkred;
    background-color: rgb(138, 164, 243);
     border-radius: 15px;
     box-shadow: black 2px 2px;
}
tbody {
    background-color: rgb(202, 202, 241);
    box-shadow: black 2px 2px;
}

tr #velence {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #velence2 {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #velence3 {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #velence4 {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #velence5 {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #velence6 {
    background-color: rgb(175, 173, 173);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #foto {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #a {
    background-color: rgb(81, 121, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #b {
    background-color: rgb(81, 121, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #c {
    background-color: rgb(81, 121, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #d {
    background-color: rgb(81, 121, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #e {
    background-color: rgb(81, 121, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #aa {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #bb {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cc {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #dd {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #ee {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #egy {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella1 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella2 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella3 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella4 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella5 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella6 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella7 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella8 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella9 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella10 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella11 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella12 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella13 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella14 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella15 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella16 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella17 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella18 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella19 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella20 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella21 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #cella22 {
    background-color: rgb(138, 164, 243);
    border-radius: 15px;
    box-shadow: black 2px 2px;
}
tr #kep1 {
    box-shadow: black 2px 2px;
}
tr #kep2 {
    box-shadow: black 2px 2px;
}
tr #kep3 {
    box-shadow: black 2px 2px;
}
tr #kep4 {
    box-shadow: black 2px 2px;
}
tr #kep5 {
    box-shadow: black 2px 2px;
}
tr #kep6 {
    box-shadow: black 2px 2px;
}