#egy {
    padding:4mm;
    border: blue solid 2px;
    text-align:justify;
    margin:0.2cm 30cm 2cm 0cm;
}
#E {
    padding:5px;
    margin:10px;
    background-color: orange;
    border-radius:10px;
}
#belso {
    border: 4cm solid blue;
    margin:auto;
    position:absolute;
}
#kozepso {
    border: 8cm solid green;
    position:absolute;
}
#kulso {
    border: 12cm solid red;
    position: absolute;
}
#ketto {
    background-color:lavenderblush;
    display:inline-flex;
    text-align:justify;
    margin-left:1cm;
    margin-right:1cm;
    text-indent:2cm;

}
ul {
    width:15%;
    height:2cm;
    padding: 1cm 0 0 0;
    border: dotted 20px green;
}
li {
    background-color: lightseagreen;
    height:1cm;
    padding: 3mm;
    list-style:none;
    display: inline;
}
#L {
    color:red;
    font-size:0.7cm;
}
#I {
    color:red;
    font-size:0.7cm;
}
#C {
    color:red;
    font-size:0.7cm;
}