#jobb {
    background-color: cornsilk;
    margin-top: 6mm;
    margin-bottom: 6mm;
    border-color: burlywood;
    border-style: dotted;
    text-align: justify;
    margin-left: 3mm;
    padding-bottom: 2mm;
    padding-top: 2mm;
    padding-left: 6mm;
    padding-right: 6mm;
    text-indent: 1.5cm;
    width: 80%;
    margin: auto;
}
#bal {
    background-color: cornsilk;
    margin-top: 6mm;
    margin-bottom: 6mm;
    border-color: burlywood;
    border-style: dotted;
    text-align: justify;
    margin-left: 3mm;
    padding-bottom: 2mm;
    padding-top: 2mm;
    padding-left: 6mm;
    padding-right: 6mm;
    text-indent: 1.5cm;
    width: 70%;
}
.piros {
    border-right: 3mm double darkred;
}
.kék {
    padding-bottom: 1cm;
    border-left: 1mm dashed blueviolet;
    border-bottom: 2mm dashed blue;

}
#pirosb {
    color: crimson;
    font-variant: small-caps;
}
.kékb {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dodgerblue;
    font-style: bolder;
}